<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    
    <ion-tab-button tab="list" href="/tabs/list">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add" href="/tabs/add">
      <!-- 🌟 给“添加”按钮一个实心的图标，让它更显眼 -->
      <ion-icon name="add-circle"></ion-icon> 
      <ion-label>Add Item</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manage" href="/tabs/manage">
      <ion-icon name="options-outline"></ion-icon>
      <ion-label>Manage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="privacy" href="/tabs/privacy">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <ion-label>Security</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>