/*
  Title: Tab1 Page Styles
  Author: Ma Xinrui and Hao Wang
  Student ID: 24832562 and 24832782
*/

.in-stock {
  color: #388038; /* Green */
}

.low-stock {
  color: #e69500; /* Orange */
}

.out-of-stock {
  color: #c0392b; /* Red */
}